.mess_nav{
    width: calc (100% - 19px);
    height: 59px;
    display: flex;
    padding: 9.5px;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width:800px){
    .mess_nav{
        padding: 5px 2px;
    }
}