.float_menu{
    width: 194px;
    height: 350px;
    position: fixed;
    top: 70px;
    left: 18%;
    box-shadow: 0 0 .2em hsl(200, 19%, 38%);
    color: rgba(255, 255, 255, 0.655);
}
.float_menu>div{
    color: white;
    height: 30px;
    font-size: 16px;
    line-height: 14.5px;
    display: flex;
    cursor: pointer;
}