.mess_search{
    margin-top: auto;
    width: calc (100% - 40px);
    height: 59px;
    padding: 9px 20px;
    display: flex;
    align-items: center;
}
.mess_search>input{
    flex-grow: 1;
    height: 49px;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.085);
    outline: transparent;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 16px;
    color: white;
}
.mess_search svg{
    width: 30px;
}
.iconSvg{
    margin-left: 20px;
}
.inputSvg1{
    margin:0 20px;
}
@media only screen and (max-width:800px){
    .mess_search{
        padding: 4px 7px;
        height: 50px;
    }
    .mess_search>input{
        height: 40px;
        padding: 0 5px;
    }
    
}

@media only screen and (max-width:420px){
    .mess_search svg{
        width: 24px;
    }
    .iconSvg{
        margin-left: 10px;
    }
    .inputSvg1{
        margin:0 5px;
    }
}