.float_chat{
    left: 28%;
    top:108px;
    position: fixed;
    width: 126px;
    height: 196px;
    padding: 9px 32px;
    border-radius: 5px;
}

.float_chat>div{
    display: flex;
    height: 37px;
    color: rgba(255, 255, 255, 0.6);
    align-items: center;
    gap: 5px;
}

