.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.loader {
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #111b21;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loading_main{
  width: 35%;
}

.sandesh_icon{
  margin-bottom: 50px;
}
.dots-container {
  display: flex;
  gap: 3px;
  color: white;
  font-size: 20px;
  justify-content: center;
}


.pulse-dot-1 {
  opacity: 0.5;
  animation: pulse 1s ease infinite;
}

.pulse-dot-2 {
  animation: pulse 1s ease infinite;
  animation-delay: 0.2s;
}

.pulse-dot-3 {
  animation: pulse 1s ease infinite;
  animation-delay: 0.4s;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column;
  backdrop-filter: blur(8px);
  border-radius: 6px;
  padding: 0;
  width: 100%;
}

.content * {
  background-color: #ededed0f;
  background: linear-gradient(100deg,
      #ffffff00 40%,
      #ffffff12 50%,
      #ffffff00 60%) #ededed0f;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1.6s Shine ease-in-out infinite;
}

.content {
  padding: 16px;

}

.cont {
  margin-bottom: 8px;
  font-size: 5px;
  letter-spacing: 1px;
  min-height: 4px;
  animation-delay: 0.05s;
}

@keyframes Shine {
  to {
    background-position-x: -20%;
  }
}